
@font-face {
  font-family: Agbalumo-Regular;
  src: url(../fonts/Agbalumo-Regular.ttf);

}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);

}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);

}
@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.ttf);

}